# IDE
.idea/

# Backend (Maven)
backend/target/

# Frontend (React)
frontend/node_modules/
frontend/build/

# Varios
*.log
frontend/node_modules/
frontend/build/
backend/target/
.idea/
frontend/node_modules/
frontend/build/
frontend/.env
backend/target/
.idea/
frontend_skel_backup/
